In [1]:
print((5+2)*3**2-1)#5+2=7,3**2=9,((7)*9-1),7*9=63-1,62

62

In [2]:
x=int(input("enter the num:"))
y=int(input("enter the num:"))
z=x+y
print(z)

enter the num:5
enter the num:8
13

In [13]:
print("my name is roshini "
"my surname is rapeti")

my name is roshini my surname is rapeti

In [12]:
print("my name is roshini\nmy surname is rapeti")#\n to new line #multiline'''.......'''

my name is roshini
my surname is rapeti

In [14]:
print("hello\nmy name is roshini\nI'm from AP\nI've done my degree from andhra university")

hello
my name is roshini
I'm from AP
I've done my degree from andhra university

In [22]:
name="roshini"#using f funtion
surname="rapeti"
print(f"my name is {name} {surname}")

my name is roshini rapeti

In [5]:
name=str(input("enter your name:"))
location=str(input("enter your location:"))
education=str(input("enter your education branch:"))
print("My name is",name,".","I am from",location,".","my education is from ",education,".")

enter your name:ROSHI
enter your location:AP
enter your education branch:BSC
My name is ROSHI . I am from AP . my education is from  BSC .

# INDEXING

In [6]:
str1='ROSHINI RAPETI'#lenght of str1 starts from 1 and count space also
print(len(str1))

14

In [7]:
str1[2]#indexing starts from 0

'S'

In [8]:
str1[10]

'P'

In [10]:
str1[-1]#from negative it starts from -1

'I'

In [15]:
str1[-5]

'A'

# slicing

In [16]:
str1="Linear Algebra"#slicing-if we wants to find group of characters from a given string,then we have to use slicing.
str1[::]#if we dont mention anything in starting index then it will start from zero

'Linear Algebra'

In [18]:
#syntax of slicing
#str1[starting index(inclusive):ending index(exclusive):step size(automatically starts from 1)]
str1="Linear Algebra"
str1[2:7:2]#n is starting index,step size is 2,so 2+2=4,4rth index is a,so now 6+2=8,ending index is 7,8>7,so it stops,output is 'na '

'na '

In [19]:
str1[:10:3]#Le g

'Le g'

In [2]:
str1="Linear Algebra"#for negative-staring posistion should be less than ending position
str1[-4:-1]#ebr,because starting position is -4,ending position is -1,ebr

'ebr'

In [3]:
str1[-1:-4]#starting position should be less than ending position

''

In [4]:
str1[::-1]#reverse

'arbeglA raeniL'

In [6]:
str1[5:2:-1]

'rae'

# string are immutable-" "

In [8]:
str1="digikull"
str1[0]

'd'

In [9]:
str1="hello"
str2="world"
print(str1+" "+str2)

hello world

In [11]:
str1="hello"
str2="world"
print(str1+str(4)+str2)

hello4world

In [41]:
str4=(str1+" "+str2+",")*3
str4

'hello world,hello world,hello world,'

In [20]:
str4.lower()#writes everthing alphabet in small word lower()

'hello world,hello world,hello world,'

In [21]:
str4.upper()#writes everthing alphabet in capital word upper()

'HELLO WORLD,HELLO WORLD,HELLO WORLD,'

In [49]:
str4.count("hello")#it counts the alphabet or word and give the number

3

In [50]:
str4

'hello world,hello world,hello world,'

In [51]:
str4.replace(" ",".")#it replaces the space with dot

'hello.world,hello.world,hello.world,'

In [53]:
"hello" in str4#in-hello is present in str4 or not and it gives bollean expression true or false

True

In [65]:
str1="It is something that you feel from within. In addition, true happiness comes from within yourself."
str1.lower()
str1.upper()
str1.count("in")
str1.replace(",","-")
"in" in str1

True

# list are mutable-starts with [ ]

In [70]:
#List-ordered sequence of elements.within[],mutable
my_list=[1,"hai",False,4]#in list we can store different data types
type(my_list)

list

In [71]:
len(my_list)

4

In [73]:
data_science=["python","sql","excel","powerbi","Dba"]#list indexing
data_science[-2]

'powerbi'

In [75]:
data_science=["python","sql","excel","powerbi","Dba"]#list slicing
data_science[:5:2]

['python', 'excel', 'Dba']

In [76]:
data_science[2:]

['excel', 'powerbi', 'Dba']

In [77]:
data_science[::-1]

['Dba', 'powerbi', 'excel', 'sql', 'python']

In [79]:
L1=[1,2,3,4,[5,6,7,10]]#List inside list is called nested list
L1[4][2]

7

In [28]:
l1=[1,2,5,6,7]#to concatenate two lists
l2=l1+[10,2,15,13]
l2

[1, 2, 5, 6, 7, 10, 2, 15, 13]

In [85]:
l1*2

[1, 2, 5, 6, 7, 1, 2, 5, 6, 7]

In [86]:
len(l2)#print the length of values in the list

9

In [89]:
min(l2)#print the minimum value in the list

1

In [88]:
max(l2)#print the maximum value in the list

15

In [90]:
sorted(l2)#to sort the numbers in a list small to big

[1, 2, 2, 5, 6, 7, 10, 13, 15]

In [91]:
sorted(l2,reverse=False)#another way to sort small to big

[1, 2, 2, 5, 6, 7, 10, 13, 15]

In [92]:
sorted(l2,reverse=True)#another way to sort big to small

[15, 13, 10, 7, 6, 5, 2, 2, 1]

In [37]:
l2=[8,6,75,85,4]
l2

[8, 6, 75, 85, 4]

In [38]:
l2.append(65)#append()-its add only one argument to the list.
l2

[8, 6, 75, 85, 4, 65]

In [39]:
sum(l2)#sum of all the elements of l2 1+2+5+6.....

243

In [40]:
l2.extend([35,"jaggu","tony"])#extend([,,])-we can add multiple values in the list
l2

[8, 6, 75, 85, 4, 65, 35, 'jaggu', 'tony']

In [41]:
l2.append(["rodshi",45])#if you want to create a new list inside list use append([,,,]).
l2

[8, 6, 75, 85, 4, 65, 35, 'jaggu', 'tony', ['rodshi', 45]]

In [46]:
l2.pop(-2)#it remove last argument

'jaggu'

In [55]:
l_3=[65,74,56,102,756,64,12,986]#it removes the element from the list,syntax:l_3.remove(element you want to remove)
l_3.remove(56)
l_3

[65, 74, 102, 756, 64, 12, 986]

In [66]:
l_3.reverse()#reverse()-it reverse the list,syntax:l_3.reverse()
l_3

[986, 12, 64, 756, 102, 74, 65]

In [75]:
l_52=[58,75,52,95]#index()-it says the index of the element,you have to assign,syntax:var=list.index(number)
l_2=l_52.index(95)
l_2

3

In [1]:
nested_list=[1,2,3,4,[5,6,7,8,9],10]#nested list is the list inside list
nested_list[4]

[5, 6, 7, 8, 9]

In [3]:
nested_list[4][3]#if you want to access the element,syntax[index][nested_index]

8

In [8]:
nested_list=[1,2,3,[4,5,6,2,[45,52,[65,35]]],8,9]#if we want to access 65
nested_list[3][4][2][0]

65

In [10]:
nested_list[4]#if we want to access 4 then all nested list will call into one list it called as 3,then 8 is 4

8

In [12]:
nested_list=[[1,2,3],['a','b','c',[4,5,6]]]#if want to access 5
nested_list[1][3][1]

5

In [20]:
nested_list=[[1,2,3],[["d","e"],'a','b','c',[4,5,6]]]#if want to access c
nested_list[1][3]

'c'

# Tuples are immutable-starts with ()

In [ ]:
#similar to lists,major diff is lists are mutable(which can change) and tuples are immutable(which cannot change),we cannot update tuple

In [30]:
my_tuple=(1,"a",True)#we cannot update tuple
type(my_tuple)

tuple

In [34]:
my_tuple=[1,"a",True]#replace with index 0(1) into 2
my_tuple[0]=2
print(my_tuple)

[2, 'a', True]

In [35]:
my_tuple[::2]

[2, True]

In [45]:
state=("haryana","ap","tn","mh","uk")#zip function-to combine two lists
capital=("chandighar","deharadun","chennai","mumbai","lucknow")#syntax:variable=list or dict or tuple(zip(variable1,variable2,..))
state_capital=(list(zip(state,capital)))
state_capital

[('haryana', 'chandighar'),
 ('ap', 'deharadun'),
 ('tn', 'chennai'),
 ('mh', 'mumbai'),
 ('uk', 'lucknow')]

In [8]:
my_tuple=(1,2,5,4,96,30,100,5)

In [9]:
my_tuple.index(5)#it say the index of the element you gave,syntax:variable.index(number of index you want to know)

2

In [11]:
my_tuple.count(5)#it say the count of the element you gave,syntax:variable.count(number of count you want to know)

2

In [12]:
str1="roshini"#it find the index of first occurance,syntax:variable.find(the element you want to know the index)
str1.find("i")

4

# Sets is mutable

In [13]:
#unordered collections of items within{},we cannot use indexing in set, we cannot use duplicate vale,cannot use nested set
set1={1,2,2,3}
type(set1)

set

In [14]:
set_1={1,2,3,45,2,75,45,65}#we cannot get duplicate values,we can store immutable(cannot change)items in set
set_1

{1, 2, 3, 45, 65, 75}

In [19]:
set_2={1,2,3,5,6}#update the values you want to give,syntax:variable.update([....])
set_2.update([1,25,36,23])
set_2

{1, 2, 3, 5, 6, 23, 25, 36}

In [22]:
set_2.remove(25)#remove-it remove the value you give,but only one argument,syntax:variable.remove(num you want to remove)
set_2

{1, 2, 3, 5, 6, 23, 36}

In [24]:
set_1={"roshi","1","2","55"}#set functions
set_2={"25","2","52","jaggu","roshi"}

In [27]:
set_1|set_2#union-no duplicates,combination of both the sets(set_1|set_2) or in this way (set_1.union(set_2))

{'1', '2', '25', '52', '55', 'jaggu', 'roshi'}

In [28]:
set_1&set_2#intersection-common elements,(set_1&set_2)or in this way (set_1.intersection(set_2))

{'2', 'roshi'}

In [30]:
set_1-set_2#difference-uncommon elements in set_1,(set_1-set_2)or in this way(set_1.difference(set_2))

{'1', '55'}

In [31]:
set_1^set_2#symmetric difference-uncommon elements from both the sets,(set_1^set_2) or set_1.union(set_2)-set_1.intersection(set_2)

{'1', '25', '52', '55', 'jaggu'}

In [33]:
set_1.union(set_2)-set_1.intersection(set_2)

{'1', '25', '52', '55', 'jaggu'}

# Dictionaries-{KEY:VALUE}

In [4]:
dict1={"name":"roshi","surname":"rapeti","state":"mumbai"}
type(dict1)
print(dict1)
dict1["mobile"]=8884449229
print(dict1)

{'name': 'roshi', 'surname': 'rapeti', 'state': 'mumbai'}
{'name': 'roshi', 'surname': 'rapeti', 'state': 'mumbai', 'mobile': 8884449229}

In [40]:
dict1["state"]

'mumbai'

In [41]:
dict1.keys()#it mention all the keys in the dict1

dict_keys(['name', 'surname', 'state'])

In [42]:
dict1.values()#it mention all the values in the dict1

dict_values(['roshi', 'rapeti', 'mumbai'])

In [44]:
dict1.items()#it mention both keys and values in the dict1

dict_items([('name', 'roshi'), ('surname', 'rapeti'), ('state', 'mumbai')])

In [4]:
dict1.get("surname")#get()-it get the value in the dict,by using the key you gave

'rapeti'

In [5]:
dict1.get("city","not present")#here if the city is not thier in your dict so we can mention "not presnt"

'not present'

In [4]:
dict1.get("state","not present")#state is present so it gives the value of given key

'mumbai'

In [18]:
my_list=[1,2,52,62,0,75]#SORT IN asc or des order
sorted(my_list,reverse=True)

[75, 62, 52, 2, 1, 0]

In [25]:
my_list=[1,2,52,62,0,75]#reverse the list using reverse(.syntax:variable.reverse()
my_list.reverse()
my_list

[75, 0, 62, 52, 2, 1]

In [3]:
dict1={"name":"roshi","surname":"rapeti","state":"mumbai"}#update()-it add the key and value to the dict
dict1.update({"city":"dahisar","group":"bsc"})#syntax:variable.update({"key":"value","key":"value"})
dict1

{'name': 'roshi',
 'surname': 'rapeti',
 'state': 'mumbai',
 'city': 'dahisar',
 'group': 'bsc'}

In [4]:
dict1["key1"]="value1"
dict1

{'name': 'roshi',
 'surname': 'rapeti',
 'state': 'mumbai',
 'city': 'dahisar',
 'group': 'bsc',
 'key1': 'value1'}

In [16]:
dict1["key1"]="value11"#replace the key 1 value(value1) to value11
dict1

{'name': 'roshi',
 'surname': 'rapeti',
 'state': 'mumbai',
 'city': 'dahisar',
 'group': 'bsc',
 'key1': 'value11'}

In [17]:
dict1.pop("key1")#pop()-automatically remove last element,syntax:variable.pop(key_name)

'value11'

In [14]:
dict1#it remove the last pair of key and value

{'name': 'roshi',
 'surname': 'rapeti',
 'state': 'mumbai',
 'city': 'dahisar',
 'group': 'bsc'}

In [34]:
l1=[1,2,52,62,0,75]#swap the first and last element by index
l1[0],l1[-1]=l1[-1],l1[0]
l1

[75, 2, 52, 62, 0, 1]

In [37]:
l1=["roshi",1,2,5,45,85,95,55,"jaggu"]#swap the index 1 with index -3
l1[1],l1[-3]=l1[-3],l1[1]
l1

['roshi', 95, 2, 5, 45, 85, 1, 55, 'jaggu']

In [39]:
l2=[12,45,62,12,14,35]#using temp variable
temp=l2[1]
l2[1]=l2[-2]
l2[-2]=temp
l2

[12, 14, 62, 12, 45, 35]

In [41]:
l3=["roshi",25,True]
True in l3

True

In [54]:
temperatures=[34,40,29,33,42,37,39]#swap highest and lowest temperatures
temperatures[2],temperatures[-3]=temperatures[-3],temperatures[2]
temperatures

[34, 40, 42, 33, 29, 37, 39]

In [55]:
temperatures=[34,40,29,33,42,37,39]#swap highest and lowest temperatures using temp variable
temp=temperatures[2]
temperatures[2]=temperatures[-3]
temperatures[-3]=temp
temperatures

[34, 40, 42, 33, 29, 37, 39]

In [15]:
temperatures=[34,40,29,33,42,37,39]#another way of swaping
max_temp=max(temperatures)
min_temp=min(temperatures)
print(max_temp)
print(min_temp)

42
29

In [16]:
max_temp_index=temperatures.index(max_temp)
min_temp_index=temperatures.index(min_temp)
print(max_temp_index)
print(min_temp_index)

4
2

In [17]:
temperatures[max_temp_index],temperatures[min_temp_index]=temperatures[min_temp_index],temperatures[max_temp_index]
temperatures

[34, 40, 42, 33, 29, 37, 39]

# statements,indentation,comments and controls

In [ ]:
#statements-it is an instruction that python interpretur can execute
#comments-to know about the block of code
#multiline comments(docstrings)-'''....'''
#indentation-it maintain the structure of code

# conditional statements(if,elif,else,nestedif)

In [33]:
a=2#if else-if the condition is true it goes into if block,if condition is false it goes into else block
b=4
if a>=b:
    print("greater")
else:
    print("a is less than b")

a is less than b

In [ ]:
#syntax of elif  #elif-if we want use more conditions we use elif,
if case1:  #if case1 is true it execute case1 statements if false it goes to case 2,if case2 is false then case3,if case4 is also false the else statments it execute
    #case1 statements
elif case2:
     #case2 statements
elif case3:
     #case3 statements
elif case4:
     #case4 statements
else:
    #otherwise this statement

In [34]:
x=10
if x==20:
    print("x is greater than 10")
else:
    print("x is less than 20")

x is less than 20

In [43]:
city=(input("enter the city:"))#using elif
if city=="new delhi":
    print("city is new delhi")
elif city=="noida":
    print("city is noida")
elif city=="mumbai":
    print("city is mumbai")
else:
    print("i dont know")

enter the city:pune
i dont know

In [56]:
num1=2#nestedif-if inside if
num2=9#if block num1(2)>0=true,goes to nested if block num2(9)<0=false,so it execute else block
if num1>0:#if condition false then it goes to elif condition,it check weather the elif condition true then execute elif,or false else block will be executed
    if num2<0:
        print(num1+num2)
    else:
        print("should be greater than 190")
elif num1>0:
    print("num1 is negative num")
else:
    print("num is zero")

should be greater than 190

In [9]:
n=int(input("enter the num:"))#& we shouldnot use in jupitar insted you shoud use and operator
if n%2==0:
    if n>=2 and n<=5:
        print("not weird")
    elif n>=6 and n<=20:
        print("weird even")
    else:
        print("weird odd")
else:
    print("weird odd")

enter the num:20
weird even

In [5]:
#practise
l2=[1,2,3,4,5]#to copy a list using copy()
l2=l1.copy()
l2

[65, 85, 42, 55]

In [15]:
l_1=[1,2,4,8,6,56]#third highest element of list
l_2=sorted(l_1)
print(l_2[2])

4

In [ ]:
num=[1,2,3,4,5,6]#to pair the num and squares in form of tuple,we use zip function
squares=[1,4,9,16,25,36]
comb=tuple(zip(num,squares))
comb

In [18]:
num=[1,2,3,4,5,6]#to pair the num and squares in form of dict,we use zip function
squares=[1,4,9,16,25,36]
comb=dict(zip(num,squares))
comb

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [6]:
list_1=[1,2,45,35,62]#uncommon elemets(symmetric difference)
elements=[36,45,85,95,62]
set(list_1)^set(elements)

{1, 2, 35, 36, 85, 95}

In [1]:
list_1=[1,2,45,35,62]#uncommon elemets(symmetric difference)
elements=[36,45,85,95,62]
print(list_1)
print(elements)
print(set(list_1))
print(set(elements))
print(set(list_1)-set(elements))

[1, 2, 45, 35, 62]
[36, 45, 85, 95, 62]
{1, 2, 35, 45, 62}
{36, 45, 85, 62, 95}
{1, 2, 35}

In [4]:
list_1=[45,5,42,85,64,74]#replace of index of 3 in list_1 to 5
list_1[3]=5
list_1

[45, 5, 42, 5, 64, 74]

In [7]:
list_1=[45,5,42,85,64,74]#replace of index of 3 in list_1 to 5
index_to_replace=list_1.index(85)
index_to_replace

3

In [8]:
list_1[index_to_replace]=index_to_replace#another way to replace with index
list_1

[45, 5, 42, 3, 64, 74]

In [15]:
x=int(input("enter the num:"))#case1-for AND we shld check first condition,if condition is false you can go to another elif
if x>=10:#case2-for OR case you have to check two conditions
    print("good marks")
elif x>=8 and x<=10:
    print("avg marks")
elif x>=4 and x<=7:
    print("below avg")
else:
    print("poor")

enter the num:3
poor

In [26]:
#80-100(a grade),60-80(b grade),40-60(c grade),below 40 (fail)
x=int(input("enter the num:"))
if x>=80 and x<=100:
    print("a grade")
elif x>=60 and x<=80:
    print("b grade")
elif x>=40 and x<=60:
    print("c grade")
else:
    print("fail")

enter the num:85
a grade

In [6]:
#80-100(a1grade),80-90(a2grade),nested if program
x=int(input("enter the num:"))
if x>=80:
    if x>=80 and x<=90:
        print("a2 grade")
    else:
        print("a1 grade")
elif x>=60:
    if x>=60 and x<=70:
        print("b2 grade")
    else:
        print("b1 grade")
elif x>=40:
    if x>=40 and x<=50:
        print("c2 grade")
    else:
        print("c1 grade")
else:
    print("fail")

enter the num:40
c2 grade

In [16]:
x=int(input("enter the num:"))#print max of three num
y=int(input("enter the num:"))
z=int(input("enter the num:"))
if x>=y and x>=z:
    print("largest num is",x)
elif y>=x and y>=z:
    print("largest num is",y)
else:
    print("smallest num is",z)

enter the num:70
enter the num:80
enter the num:90
smallest num is 90

In [3]:
str1="hello i am a data analyst"
"data" in str1

True

# LOOPS-while,for

In [ ]:
#loops-executing the block of codes untill it meets the condition.
#while loop-we use while loop majorly on numbers
#syntax:while condition:
            #statements
            #iterator updation

In [2]:
i=0#simple program for while loop
while i<=5:
    print(i)
    i=i+1#imp to give iterartor

0
1
2
3
4
5

In [4]:
i=0#even num program using while loop
while i<=10:
    print(i)
    i=i+2

0
2
4
6
8
10

In [2]:
i=0#even num using while and if 
while i<=10:
    if i%2==0:
        print(i)
    i=i+1

0
2
4
6
8
10

In [9]:
x=int(input("enter the num:"))#even num with user input
while x<=10:
    print(x)
    x=x+2

enter the num:5
5
7
9

In [10]:
i=0#odd num using while and if 
while i<=10:
    if i%2!=0:
        print(i)
    i=i+1

1
3
5
7
9

In [18]:
x=int(input("enter the num:"))#example
if x%4==0:
    if x%5==0:
        print("num is divisible by both 4 and 5")
    else:
        print("num is divisible by 4 only")
elif x%2==0:
    print("we cant divisible by 4 but divisible by 2")
else:
    print("we cannot divide num by 2 or 4")

enter the num:24
num is divisible by 4 only

In [6]:
x=int(input("enter the num:"))#table using while loop
i=1
while i<=10:
    result=5*i
    print(x,"*",i,"=",result)
    i=i+1

enter the num:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [5]:
x=int(input("enter the num:"))#table using for loop
for i in range(1,11):
    print(x,"*",i,"=",x*i)

enter the num:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [28]:
#prime number-the number whichwe can divide by itself and 1(2 to n-1)
#example
num=int(input())#prime num using while loop
i=2
result=""
while(i<num):
    if(num%i==0):
        result="not prime"
        break
    i=i+1
if(result=="not prime"):
    print("num is not prime num")
else:
    print("num is prime num")

9
num is not prime num

In [12]:
num=int(input())#prime num using while loop(good way to do for large num)
i=2
while(num%i!=0):
    i=i+1
if(i==num):
    print("prime")
else:
    print("not prime")

9
not prime

In [ ]:
#for loop-we use for loop majorly on sequence(which stores elements)
#syntax:for item(iterator) in object:
        #to do stuff

In [18]:
l1=[1,2,3,4,5,6,7]
for i in l1:
    print(i,end=" ")

1 2 3 4 5 6 7

In [22]:
str1="roshini rapeti"#simple program 
for i in str1:
    print(i)

r
o
s
h
i
n
i

r
a
p
e
t
i

In [23]:
list(range(1,10))#10 is exclusive

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list(range(1,10,3))

[1, 4, 7]

In [26]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [27]:
for i in range(0,11):#even num using for loop
    if i%2==0:
        print(i)

0
2
4
6
8
10

In [34]:
table=int(input("enter num:"))#table using for loop
for i in range(1,6):
    result=table*i
    print(table,"*",i,"=",result)

enter num:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

In [10]:
n=int(input("enter the number:"))#prime or not using for loop
is_prime=True
if n==1:
    is_prime=False
for i in range(2,n):
    if(n%i==0):
        result=False
if result:
    print(n,"is a prime num")
else:
    print(n,"is not prime num")

enter the number:1
1 is not prime num

In [2]:
list_1=[2,4,5,6,8]#sum of list using for loop
sum1=0
for i in list_1:
    sum1=sum1+i
    print(sum1)

2
6
11
17
25

In [13]:
l1=[7,2,8,5,4,6,9,13,12]#all the even num in the list
sum1=0
for i in l1:
    if i%2==0:
        result=i
        print(result)

2
8
4
6
12

In [15]:
l1=[7,2,8,5,4,6,9,13,12]#sum of all the even numbers
sum1=0
for i in l1:
    if i%2==0:
        sum1=sum1+i
print(sum1)

32

In [10]:
str1=["hello","bye","toy","roshi","jaggu"]#length of each string using for loop
len_str=[]
for i in str1:
    len_str.append(len(i))
    print(len_str)

[5]
[5, 3]
[5, 3, 3]
[5, 3, 3, 5]
[5, 3, 3, 5, 5]

In [166]:
#nested loop(loop inside loop)#doubt
n=int(input())#take user input and print the prime number using nested while loop
i=2
while i<=n:
    j=2
    flag=True #initial
    while j<i-1:
        if i%j==0:
            flag=False #when divisible by before number
        j=j+1
    if flag==True:
        print(i)
    i=i+1

15
2
3
5
7
11
13

In [28]:
list_1=["abc","def","ghi"]#print abc then a,b,c
for i in list_1:
    print(i)
    for j in i:
        print(j)

abc
a
b
c
def
d
e
f
ghi
g
h
i

In [33]:
str1="hello everyone"#string into a list using split()
l2=str1.split()
l2

['hello', 'everyone']

In [32]:
str1="   hello everyone  "#strip()-it is used to remove whitespaces from a string
l3=str1.strip(" ")
l3

'hello everyone'

In [39]:
str3=["hello","everyone"]#list converted into one string
str3=" ".join(str3)
str3

'hello everyone'

# Break,Continue,Pass

In [40]:
for i in range(1,11):#this pass statement is used to define an empty function without causing error,no-operartion statement,placeholder
    pass

In [47]:
l1=[12,56,34,14,38]#it is used to skip the condition(i==14)(i==56) and gives remaining the values
for i in l1:
    if i==14 or i==56:
        continue
    print(i)

12
34
38

In [42]:
l1=[12,56,34,14,38]#it is used to exit a loop wen an condition is met,here i==14,untill 14 all the numbers will be executed,then it get exit
for i in l1:
    if i==14:
        break
    print(i)

12
56
34

In [60]:
list_1=[1,22,33,42,52,5]#minium value and maximum value without using index
min_element=max_element=list_1[0]
for i in list_1:
    if i<min_element:
        min_element=i
    elif i>max_element:
        max_element=i
print("min element",min_element)
print("max element",max_element)

min element 1
max element 52

In [137]:
n=int(input())#start pattern#doubt
for i in range(0,n):
    for j in range(i+1):
        print("*",end=" ")
    print()

5
*
* *
* * *
* * * *
* * * * *

In [134]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

5
*
* *
* * *
* * * *
* * * * *

In [76]:
n=int(input())#start pattern
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [87]:
n=int(input())#start pattern#doubt
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(i):
        print("*",end="")
    print()

5
     *
    **
   ***
  ****
 *****

In [88]:
n=int(input())#start pattern#doubt
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(i):
        print(i,end="")
    print()

5
     1
    22
   333
  4444
 55555

# List Comprehension

In [96]:
#list comprehension is used to transform one list into another list.during this transformationelements can be conditionally 
#inclued in the new list and we can also transform an element as needed
sq_list=[]#squares of 1t05
for i in range(1,6):#
    sq_list.append(i*i)
sq_list

[1, 4, 9, 16, 25]

In [98]:
l1=[i*i for i in range(1,6)]#using list comprehension
l1

[1, 4, 9, 16, 25]

In [104]:
even_list=[]#using for loop
for i in range(0,10,2):
    even_list.append(i)
even_list

[0, 2, 4, 6, 8]

In [102]:
even_list=[i for i in range(0,10,2)]#using list comprehension
even_list

[0, 2, 4, 6, 8]

In [159]:
#even_list=[out_expresion input_expression if_condition]
even_list=[i for i in range(1,20) if i%2==0]
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [115]:
#new_num=[output_of_if_condition if_condition else else_condition_output input_expression]
new_num=[num*2 if num%2==0 else num*3 for num in range(0,20)]#even num should be sq,odd num should be cube
new_num

[0, 3, 4, 9, 8, 15, 12, 21, 16, 27, 20, 33, 24, 39, 28, 45, 32, 51, 36, 57]

In [116]:
output_1=[1,1,1,2,2,2,3,3,3,4,4,4,5,5,5]
new_output_list=[]
for i in range(1,6):
    for j in range(3):
        new_output_list.append(i)
new_output_list

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]

In [118]:
#new_list_comp=[output_expression first_for_loop second_for_loop]
new_list_comp=[i for i in range(1,6)     for j in range(3) ]
new_list_comp

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]

In [149]:
for i in range(1,6):
    for j in range(3):
        print(i)
    print()

1
1
1

2
2
2

3
3
3

4
4
4

5
5
5

In [2]:
outer_list=[]
for i in range(1,6):
    l1=[]
    for j in range(3):
        l1.append(i)
    outer_list.append(l1)
outer_list

[[1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4], [5, 5, 5]]

In [10]:
output_l=[[i for j in range(3) ]for i in range(1,6)]
output_l

[[1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4], [5, 5, 5]]

In [11]:
l1=[12,23,24,85,12,95,62,23,25]#occurance of each number 
d1={}
for i in l1:
    if i not in d1:
        d1[i]=1
    else:
        d1[i]=d1[i]+1
d1

{12: 2, 23: 2, 24: 1, 85: 1, 95: 1, 62: 1, 25: 1}

In [12]:
str1="my name is roshini"
for char in str1:
    print(char)

m
y

n
a
m
e

i
s

r
o
s
h
i
n
i

In [17]:
str1="roshini rapeti is my name and surname"#first letter of my words in my string
l1=str1.split(" ")
for i in l1:
    print(i[0])

r
r
i
m
n
a
s

In [22]:
#armstrong number-cube of every digit of the given number should be given number
#example-153-1cube+5cube+3cube,1+125+27=153
n=153
n1=n
sum1=0
while n>0:
    rem=n%10
    sum1=sum1+rem**3
    n=n//10
if sum1==n1:
    print("num is armstrong number")
else:
    print("num is not armstrong number")

num is armstrong number

# Function

In [ ]:
#function-
#user defined function(defined by user)
#built in function(pre defined functions)-provided by python laguage that can use o perom common tasks
#syntax:def function_name(arguments1,arguments2)
            #satements

In [31]:
def sum_fun(x,y):#using def function addition of two numbers
    result=x+y
    return result
a=int(input("enter first num:"))
b=int(input("enter second num:"))
print(sum_fun(a,b))

enter first num:5
enter second num:1
6

In [38]:
l1=[1,2,3,4,5,6]#length of list
def length(l1):
    length_list=len(l1)
    return length_list
print(length(l1))

6

In [41]:
def length(list1):#length of list using for loop
    count1=0
    for i in list1:
        count1=count1+1
    return count1
l1=[1,2,3,4,5,6,7,89,7]
length(l1)

9

In [43]:
def fact(num):#factorial using def function
    fact=1
    for i in range(1,num+1):
        fact=fact*i
    return fact
n=int(input("enter number:"))
print(fact(n))

enter number:5
120

In [ ]:
a="a""good",a="b""average,a="c""below average",a="poor"

In [54]:
def grade_check(str1):
    print(str1[0])
s1=input()
a=grade_check(s1)

a
a

In [55]:
if a=="a":
    print("good")
elif a=="b":
    print("average")
elif a=="c":
    print("below avg")
else:
    print("poor")

poor

In [61]:
def first_word(input_str):#function of first letter
    str2=input_str.split(" ")
    for i in str2:
        print(i[0])
b=input()
a=first_word(b)

happy birthday roshini rapeti
h
b
r
r

In [11]:
#fibonacci sequence-0+1+1+2+3+5+8+13+21...
num1=0
num2=1
n=20
count=1
while count<=n:
    fib_n=num1+num2
    num1+num2
    num2=fib_n
    count=count+1
print(count)

21

In [23]:
l1=[1,2,3,4,5,6,7]#two number pair whose sum==9
pair_sum=[]
for i in range(len(l1)):
    for j in range(i+1,len(l1)):
        if l1[i]+l1[j]==9:
            pair_sum.append((l1[i],l1[j]))
print("pair with sum==9:",pair_sum)

pair with sum==9: [(2, 7), (3, 6), (4, 5)]

# Scope of a function,Lambda,Map,Filter,Reduce

In [58]:
a=10#global variable-it used out of loop only,if in def a is not there then it goes to local variable inside loop
def func_1():
    a=5
    b1=20#local variable-only for def function 
    print(a)
    print(id(a))
    print(b1)

In [59]:
func_1()
print(a)
print(id(a))

5
140711756272552
20
10
140711756272712

In [9]:
#default parameters
for i in range(1,11):#end is a default parameter
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [13]:
def sum1(a,b,c=0):
    return a+b+c
print(sum1(3,5,15))

23

In [17]:
def sum1(a,b=0,c=0):#all non default parameters should come first and default parameters should come last
    return a+b+c
print(sum1(3,5,15))

23

In [ ]:
#lambda-anonymous function
#syntax:lambda arguments:expression
#we cannot use for loop into lambda function

In [18]:
sq=lambda x :x*x
sq(5)

25

In [21]:
check_ab=lambda a,b :"a is gt b" if a>b else "b is gt a"
check_ab(5,6)

'b is gt a'

In [31]:
def pp(x):
    for i in range(x):
        print(i)

In [33]:
for_loop=lambda x : pp(x)#we cannot use for loop into lambda function,insted you have to use def
for_loop(5)

0
1
2
3
4

In [35]:
x=lambda even :"even" if even%2==0 else "odd"#even num using lambda
x(7)

'odd'

In [ ]:
n= int(input("please enter number"))#input by user even num
a=lambda n:"number is even" if n%2==0 else "number is odd"
print(a(40))

In [ ]:
#map:syntax:(fun,iter)

In [ ]:
def sq(x):
    return x

In [36]:
num_list=[1,2,3,4,5,6,8,9,12]
sq_num=list(map(lambda x:x*x,num_list))

In [41]:
num_list=[1,2,3,4,5,6,8,9,12]
sq_num=list(map(sq,num_list))
sq_num

[1, 4, 9, 16, 25, 36, 64, 81, 144]

In [44]:
l1=["rosshi","jaggu","tony","venu"]#written first letter with capital letter#map#we can use tuple,dict
list(map(lambda x:x.capitalize(),l1))

['Rosshi', 'Jaggu', 'Tony', 'Venu']

In [45]:
l1=[1,2,3,4,5,6]
l2=[7,8,9,10,11,12]
list(map(lambda x,y:x+y,l1,l2))

[8, 10, 12, 14, 16, 18]

In [46]:
#filter:syntax=filter(func,iter)
l1=[6,25,85,45,22,75,41]#print even num in the list using filter and lambda
list(filter(lambda x:x%2==0,l1))

[6, 22]

In [47]:
l2=["good","morning","evening","night","hellow","phone","hai"]#filter,print length of word greater than 5
list(filter(lambda x:len(x)>=5,l2))

['morning', 'evening', 'night', 'hellow', 'phone']

In [48]:
def is_prime(n):#prime number using def and filter
    if n<2:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
        return True
l1=[3,6,9,11,8]
list(filter(is_prime,l1))

[3, 9, 11]

In [55]:
from functools import reduce#reduce#functools is a library
l1=[3,6,8,11]
reduce(lambda x,y:x+y,l1)

28

In [1]:
sq=lambda x:x*x#square of a num using lambda
sq(4)

16

In [2]:
def celsius_fahrenheit():#function which converts celsius into fahrenheit
    f=(celsius*(9/5))+32
    print(f)
celsius=int(input("enter the tem in celsius:"))
celsius=celsius_fahrenheit()

enter the tem in celsius:40
104.0

In [3]:
def reverse_numer(num):#reverse of a num
    reversed_num=0
    while num > 0:
        reminder = num % 10
        reversed_num = reversed_num * 10 + reminder
        num=num//10
    return reversed_num
number=int(input())
reverse_numer(number)

4520060

600254

In [4]:
sum1=0#print sum of natural numbers another way
def sum_n():
    sum1=0
    for i in range(1,16):
        sum1=sum1+1
    return sum1
print("sum of 1st natural num:",sum_n())
for i in range(1,16):
    sum1=sum1+i
print(sum1)

sum of 1st natural num: 15
120

# File handling

In [ ]:
#syntax-open("filename,mode")
#different modes
#r=Mode-Read : it will open a file for reading purpose and it will return error if the file doesnot exists
#a=Mode-Append : opens a file for appending,creates the file if does not exist,
#w=Mode-Write : opens a file for writing,creates the file if it does not exist
#open then read then write then close

In [2]:
#file_object=open("filename":"mode")#read,wrte,append,r+,w+,a+
f1=open('paragraph','x')#x is the mode to create a new file

In [1]:
f1=open('paragraph.txt','r')#r is the mode to read the data and fetch the data from the file
data=f1.read()
print(data)

Now that you've got a firm grasp on all the main keys of your keyboard, you will put them all together for some short paragraphs.

In [4]:
f1=open('paragraph.txt','w')#w is the mode opens in write mode only,it overwrites the file(delets the old data and replace the data).if file doesnot exits it creates the new file
f1.write("hai this is roshini rapeti from andhra pradesh")

46

In [5]:
f1.close()#it close the file

In [59]:
f1=open("paragraph.txt")

In [41]:
text=f1.read(10)#it read untill 10th index
print(text)

Now that y

In [42]:
text=f1.readline()#it read first line from the file
print(text)

ou've got a firm grasp on all the main keys of your keyboard, you will put them all together for some short paragraphs.

In [43]:
text=f1.readlines(2)#it read the lines,here we gave 2 so second line will be printed
print(text)

['It was one of those perfect southern California afternoons\n']

In [48]:
text=f1.readlines()
print(text)

["Now that you've got a firm grasp on all the main keys of your keyboard, you will put them all together for some short paragraphs.\n", 'It was one of those perfect southern California afternoons\n', "At first the professor scowled with concern. But then he said, that's all right.\n", 'Run to my house\n', '"Mrs. Esputa quickly fetched one of her husband\'s white shirts']

In [49]:
print(text[2])

At first the professor scowled with concern. But then he said, that's all right.

In [60]:
f1.read().splitlines()#it prints in new line without /n

["Now that you've got a firm grasp on all the main keys of your keyboard, you will put them all together for some short paragraphs.",
 'It was one of those perfect southern California afternoons',
 "At first the professor scowled with concern. But then he said, that's all right.",
 'Run to my house',
 '"Mrs. Esputa quickly fetched one of her husband\'s white shirts']

In [62]:
f1.close()

In [ ]:
#seek and tell
#syntax-file_object.tell()-it tells the position of the cursor
#syntax-file_object.seek(position the cursor you want to point)-it is used to change the position of the cursor

In [63]:
f1=open("paragraph.txt")

In [64]:
f1.tell()#it tells the position of the cursor

0

In [65]:
f1.seek(15)#it is used to change the position of the cursor

15

In [66]:
f1.tell()

15

In [67]:
f1.close()

In [2]:
f1=open("paragraph.txt")

In [3]:
f1=open("paragraph.txt",'a')#apend
print(f1)

<_io.TextIOWrapper name='paragraph.txt' mode='a' encoding='cp1252'>

In [4]:
f1.write("Stimulate your mind as you test your typing speed with this standard English paragraph typing test")

98

In [5]:
f1.close()

In [8]:
f1=open("paragraph.txt",'r')#so it added the data of line 4 and appended to previous data 
text=f1.readlines()
print(text)

["Now that you've got a firm grasp on all the main keys of your keyboard, you will put them all together for some short paragraphs.\n", 'It was one of those perfect southern California afternoons\n', "At first the professor scowled with concern. But then he said, that's all right.\n", 'Run to my house\n', '"Mrs. Esputa quickly fetched one of her husband\'s white shirtsStimulate your mind as you test your typing speed with this standard English paragraph typing test']

In [9]:
f1.close()#after all the operations you have to close the file

In [11]:
f2=open('file2','x')#new file created

In [20]:
f2.close()

In [21]:
import os#it remove the file 
os.remove('file2')

In [22]:
def even_odd(l1):#sum of even and sum of odd
    even=0
    odd=0
    for i in l1:
        if i%2==0:
            even=even+i
        else:
            odd=odd+i
            
    print("sum of even num in l1 is=",even)
    print("sum of even num in l1 is=",odd)

In [23]:
even_odd([1,6,8,7,3,2,5])

sum of even num in l1 is= 16
sum of even num in l1 is= 16

In [24]:
num=int(input())#star pattern
for i in range(num,0,-1):
    for j in range(i):
        print(i,end=" ")
    print()

5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [26]:
cur_num=1#to print a pattern
rows=3
increasing=2
for i in range(rows):
    for j in range(1,increasing):
        print(cur_num,end=" ")
        cur_num=cur_num+1
    print()
    increasing=increasing+2

1
2 3 4
5 6 7 8 9

# Exception Handling

In [ ]:
#we use exception handling to handle the errors
#why we use exception handling?-it will make our application more robust and also prevent our application from crashing

In [ ]:
try:
    #what ever we want to do
except:
    #it will run when there will be an error in try block

In [6]:
try:#try and except areused to error handling.code within the try block is executed,and if an exception occurs,it is caught by except block
    n=int(input("enter numenator:"))
    o=int(input("enter denominator:"))
    print(n/o)
except:
    m=int(input("please enter a valid number"))
    print(n/m)
    print("there is some issue in your code")

enter numenator:20
enter denominator:0
please enter a valid number5
4.0
there is some issue in your code

In [16]:
try:
    n=int(input("enter numenator:"))
    m=int(input("enter denominator:"))
    print(n/m)
except ZeroDivisionError:
    print("you have given 0 in denominator")
except ValueError:
          print("looks like data type of numenator or denominator is not an integer value")

enter numenator:2
enter denominator:l
looks like data type of numenator or denominator is not an integer value

In [22]:
try:#multiple exception at once
    n=int(input("enter numenator:"))
    m=int(input("enter denominator:"))
    print(n/m)
except (ZeroDivisionError,ValueError,NameError):
    print("you have given 0 in denominator or looks like data type of numenator or denominator is not an integer value")

enter numenator:8
enter denominator:l
you have given 0 in denominator or looks like data type of numenator or denominator is not an integer value

In [9]:
try:
    name=input("enter your name:")
    year=input("birth year:")
    age=2024-int(year)
    print("your name is",name,"and age is",age)
except TypeError:
    print("please enter year in integer value")
except ValueError:
    print("please check your input")

enter your name:roshi
birth year:2003
your name is roshi and age is 21

In [17]:
try:
    n=int(input("enter the numinator:"))
    m=int(input("enter the denominator:"))
    if m==0:
        raise ZeroDivisionError#raise-customerror
    print("hello")
    value=n/m
    print(value)
except ValueError:
    print("please enter valid value")
except ZeroDivisionError:
    print("denminator should not be zero")
else:#if no error else block will be executed
    print("usually i run with try block")
finally:#it always runs 
    print("i will run always")

enter the numinator:10
enter the denominator:2
hello
5.0
usually i run with try block
i will run always

In [19]:
try:#so here we didnot enter mode so it say something went wrong
  f= open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:#for this we use finally
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

In [6]:
# do the element is present in list or not
def find_num(l,n):
    for i in l:
        if i==n:
            return "number is present"
    return "number is not present "
l1=[1,2,2,4,5,6,7]
n=int(input("enter the number:"))
find_num(l1,n)

enter the number:5

'number is present'

In [19]:
given_list=[2,3,4,5,6]# do the element is present in list or not,withount using def
x=int(input("enter the value:"))
if x in given_list:
    print(x,"is found in the list at index:",given_list.index(x))
else:
    print(x,"is not found in the list")

enter the value:5
5 is found in the list at index: 3

In [6]:
def reverse_string(s):#reverse_string
    reverse_string=" "
    for i in range(len(s)):
        reverse_string=s[i]+reverse_string
    return reverse_string
str1="Roshini Rapeti"
reverse_string(str1)

'itepaR inihsoR '

In [19]:
strng="abcdef"#reverse_string
strng2=""
for i in range(len(strng)-1,-1,-1):
    strng2=strng2+strng[i]
print(strng2)

fedcba

# web scraping

In [ ]:
#we can fetch the data from website
#web scraping is a technique for extracting information from the internet automatically using script that stimulates human web suffering
#web scrapping helps us to extractlarge volumes from different websites
#libreries for web scrapping:1)beautifulsoup,2)selenium,3)scrapy

# steps to do web scraping

In [ ]:
#1.find the url that you want to scrap
#2.send an http request to that url and get html as response
#3.parsing the html content
#4.inspect the web page and find data that we want to extract
#5.extract required data and store it in required format

In [ ]:
<html>
<head>and<title>
<body>
<h1>,<h2>,....,<h5>
<photos>
<append>
<image>
<table>

In [3]:
<!doctype html>#to run web page
<html>
<head>
<title> New Web Page </title>
</head>
<body>
<h1> Lets do web Scraping </h1>
<p class='abc' id='first_para'>
lets Learn
<b>web scrapping</b>
</p>
<p class='abc' id="second para">
Lets look in to scraping using Beautifulsoup from <a href=https://beautiful-soup-4.readthedocs.io/en/latest/>here</a> #<a href=is used for attaching link a>
</p>
</body>
</html>

SyntaxError: invalid decimal literal (996523145.py, line 13)

In [18]:
html='<!doctype html>\
<html>\
<head>\
<title> New Web Page </title>\
</head>\
<body>\
<h1> Lets do web Scraping </h1>\
<p class="abc"id="first_para">\
let\'s Learn\
<b>web scrapping</b>\
</p>\
<p class="abc" id="second para">\
Let\'s look in to scraping using Beautifulsoup from <a href=https://beautiful-soup-4.readthedocs.io/en/latest/>here</a>\
</p>\
</body>\
</html>'

In [5]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\msusersl123\anaconda3\lib\site-packages (0.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: beautifulsoup4 in c:\users\msusersl123\anaconda3\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\msusersl123\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.4)

In [16]:
from bs4 import BeautifulSoup

In [19]:
data=BeautifulSoup(html,"html.parser")#parser is used to analyzes the structure of given input

In [5]:
data

<!DOCTYPE html>
<html><head><title> New Web Page </title></head><body><h1> Lets do web Scraping </h1><p class="abc" id="first_para">let's Learn<b>web scrapping</b></p><p class="abc" id="second para">Let's look in to scraping using Beautifulsoup from <a href="https://beautiful-soup-4.readthedocs.io/en/latest/">here</a></p></body></html>

In [20]:
print(data.prettify())#prettify is used to understand the formate or beautifying the code

<!DOCTYPE html>
<html>
 <head>
  <title>
   New Web Page
  </title>
 </head>
 <body>
  <h1>
   Lets do web Scraping
  </h1>
  <p class="abc" id="first_para">
   let's Learn
   <b>
    web scrapping
   </b>
  </p>
  <p class="abc" id="second para">
   Let's look in to scraping using Beautifulsoup from
   <a href="https://beautiful-soup-4.readthedocs.io/en/latest/">
    here
   </a>
  </p>
 </body>
</html>

In [7]:
data.title#to know the title of the web page

In [8]:
data.head#to know the head of the web page

In [9]:
data.h1#to know the h1 in web page

In [21]:
data.p#we have two paragraph but we got only one paragraph

In [10]:
data.p.attrs

{'class': ['abc'], 'id': 'first_para'}

In [26]:
data.p['id']#paragraph ids

'first_para'

In [27]:
data.p.get('id')#paragraph id

'first_para'

In [22]:
data.get_text()#to access the information

" New Web Page  Lets do web Scraping let's Learnweb scrappingLet's look in to scraping using Beautifulsoup from here"

In [29]:
data.p#we got first para

In [15]:
data.find("p")#we got first para

In [32]:
data.find_all("p")#we got all the paragraphs,if we want to acces paragraph one only we have to use loop

[<p class="abc" id="first_para">lets Learn<b>web scrapping</b></p>,
 <p class="abc" id="second para">Lets look in to scraping using Beautifulsoup from <a href="https://beautiful-soup-4.readthedocs.io/en/latest/">here</a></p>]

In [23]:
l1=data.find_all("p")#we got all the paaragraph by loop
for i in l1:
    print(i.text)

let's Learnweb scrapping
Let's look in to scraping using Beautifulsoup from here

In [20]:
l1

[<p class="abc" id="first_para">let's Learn<b>web scrapping</b></p>,
 <p class="abc" id="second para">Let's look in to scraping using Beautifulsoup from <a href="https://beautiful-soup-4.readthedocs.io/en/latest/">here</a></p>]

In [25]:
j=data.find(id="second para")

In [26]:
print(j)

<p class="abc" id="second para">Let's look in to scraping using Beautifulsoup from <a href="https://beautiful-soup-4.readthedocs.io/en/latest/">here</a></p>

In [15]:
print(j.text)

Let's look in to scraping using Beautifulsoup from here

In [27]:
print(data.title)#if we want title we can access like this
print(data.title.name)
print(data.title.string)#if we have title different data type like integer and char mix also you have to give string only

<title> New Web Page </title>
title
 New Web Page

In [28]:
l2=data.find_all(['h1','p'])#if we want multiple tages you have to give in list
l2

[<h1> Lets do web Scraping </h1>,
 <p class="abc" id="first_para">let's Learn<b>web scrapping</b></p>,
 <p class="abc" id="second para">Let's look in to scraping using Beautifulsoup from <a href="https://beautiful-soup-4.readthedocs.io/en/latest/">here</a></p>]

In [18]:
data.find_all(class_="abc")#if we want to access with class then you have to given condition class_=" "

[<p class="abc" id="first_para">let's Learn<b>web scrapping</b></p>,
 <p class="abc" id="second para">Let's look in to scraping using Beautifulsoup from <a href="https://beautiful-soup-4.readthedocs.io/en/latest/">here</a></p>]

In [29]:
for i in l2:#if we want to access string from html we have to strings,becz it dont know which string to print
    print(list(i.strings))#strings bcz it print all the strings

[' Lets do web Scraping ']
["let's Learn", 'web scrapping']
["Let's look in to scraping using Beautifulsoup from ", 'here']

In [20]:
for i in l2:
    print(list(i.stripped_strings))

['Lets do web Scraping']
["let's Learn", 'web scrapping']
["Let's look in to scraping using Beautifulsoup from", 'here']

In [30]:
#load the webpage using request library
#parse the html
import requests

In [31]:
response=requests.get('https://info.cern.ch/hypertext/WWW/TheProject.html')

In [32]:
response

In [33]:
html_d=response.text

In [34]:
data=BeautifulSoup(html_d,'html.parser')

In [35]:
data

<header>
<title>The World Wide Web project</title>
<nextid n="55"/>
</header>
<body>
<h1>World Wide Web</h1>The WorldWideWeb (W3) is a wide-area<a href="WhatIs.html" name="0">
hypermedia</a> information retrieval
initiative aiming to give universal
access to a large universe of documents.<p>
Everything there is online about
W3 is linked directly or indirectly
to this document, including an <a href="Summary.html" name="24">executive
summary</a> of the project, <a href="Administration/Mailing/Overview.html" name="29">Mailing lists</a>
, <a href="Policy.html" name="30">Policy</a> , November's  <a href="News/9211.html" name="34">W3  news</a> ,
<a href="FAQ/List.html" name="41">Frequently Asked Questions</a> .
<dl>
<dt><a href="../DataSources/Top.html" name="44">What's out there?</a>
<dd> Pointers to the
world's online information,<a href="../DataSources/bySubject/Overview.html" name="45"> subjects</a>
, <a href="../DataSources/WWW/Servers.html" name="z54">W3 servers</a>, etc.
<dt><a href="Help.html" name="46">Help</a>
<dd> on the browser you are using
<dt><a href="Status.html" name="13">Software Products</a>
<dd> A list of W3 project
components and their current state.
(e.g. <a href="LineMode/Browser.html" name="27">Line Mode</a> ,X11 <a href="Status.html#35" name="35">Viola</a> ,  <a href="NeXT/WorldWideWeb.html" name="26">NeXTStep</a>
, <a href="Daemon/Overview.html" name="25">Servers</a> , <a href="Tools/Overview.html" name="51">Tools</a> ,<a href="MailRobot/Overview.html" name="53"> Mail robot</a> ,<a href="Status.html#57" name="52">
Library</a> )
<dt><a href="Technical.html" name="47">Technical</a>
<dd> Details of protocols, formats,
program internals etc
<dt><a href="Bibliography.html" name="40">Bibliography</a>
<dd> Paper documentation
on  W3 and references.
<dt><a href="People.html" name="14">People</a>
<dd> A list of some people involved
in the project.
<dt><a href="History.html" name="15">History</a>
<dd> A summary of the history
of the project.
<dt><a href="Helping.html" name="37">How can I help</a> ?
<dd> If you would like
to support the web..
<dt><a href="../README.html" name="48">Getting code</a>
<dd> Getting the code by<a href="LineMode/Defaults/Distribution.html" name="49">
anonymous FTP</a> , etc.
</dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dl>
</p></body>

In [36]:
print(data.prettify())#structered format

<header>
 <title>
  The World Wide Web project
 </title>
 <nextid n="55"/>
</header>
<body>
 <h1>
  World Wide Web
 </h1>
 The WorldWideWeb (W3) is a wide-area
 <a href="WhatIs.html" name="0">
  hypermedia
 </a>
 information retrieval
initiative aiming to give universal
access to a large universe of documents.
 <p>
  Everything there is online about
W3 is linked directly or indirectly
to this document, including an
  <a href="Summary.html" name="24">
   executive
summary
  </a>
  of the project,
  <a href="Administration/Mailing/Overview.html" name="29">
   Mailing lists
  </a>
  ,
  <a href="Policy.html" name="30">
   Policy
  </a>
  , November's
  <a href="News/9211.html" name="34">
   W3  news
  </a>
  ,
  <a href="FAQ/List.html" name="41">
   Frequently Asked Questions
  </a>
  .
  <dl>
   <dt>
    <a href="../DataSources/Top.html" name="44">
     What's out there?
    </a>
    <dd>
     Pointers to the
world's online information,
     <a href="../DataSources/bySubject/Overview.html" name="45">
      subjects
     </a>
     ,
     <a href="../DataSources/WWW/Servers.html" name="z54">
      W3 servers
     </a>
     , etc.
     <dt>
      <a href="Help.html" name="46">
       Help
      </a>
      <dd>
       on the browser you are using
       <dt>
        <a href="Status.html" name="13">
         Software Products
        </a>
        <dd>
         A list of W3 project
components and their current state.
(e.g.
         <a href="LineMode/Browser.html" name="27">
          Line Mode
         </a>
         ,X11
         <a href="Status.html#35" name="35">
          Viola
         </a>
         ,
         <a href="NeXT/WorldWideWeb.html" name="26">
          NeXTStep
         </a>
         ,
         <a href="Daemon/Overview.html" name="25">
          Servers
         </a>
         ,
         <a href="Tools/Overview.html" name="51">
          Tools
         </a>
         ,
         <a href="MailRobot/Overview.html" name="53">
          Mail robot
         </a>
         ,
         <a href="Status.html#57" name="52">
          Library
         </a>
         )
         <dt>
          <a href="Technical.html" name="47">
           Technical
          </a>
          <dd>
           Details of protocols, formats,
program internals etc
           <dt>
            <a href="Bibliography.html" name="40">
             Bibliography
            </a>
            <dd>
             Paper documentation
on  W3 and references.
             <dt>
              <a href="People.html" name="14">
               People
              </a>
              <dd>
               A list of some people involved
in the project.
               <dt>
                <a href="History.html" name="15">
                 History
                </a>
                <dd>
                 A summary of the history
of the project.
                 <dt>
                  <a href="Helping.html" name="37">
                   How can I help
                  </a>
                  ?
                  <dd>
                   If you would like
to support the web..
                   <dt>
                    <a href="../README.html" name="48">
                     Getting code
                    </a>
                    <dd>
                     Getting the code by
                     <a href="LineMode/Defaults/Distribution.html" name="49">
                      anonymous FTP
                     </a>
                     , etc.
                    </dd>
                   </dt>
                  </dd>
                 </dt>
                </dd>
               </dt>
              </dd>
             </dt>
            </dd>
           </dt>
          </dd>
         </dt>
        </dd>
       </dt>
      </dd>
     </dt>
    </dd>
   </dt>
  </dl>
 </p>
</body>

In [29]:
data.h1

In [24]:
data.h1.string

'World Wide Web'

In [25]:
data.text

"\nThe World Wide Web project\n\n\n\nWorld Wide WebThe WorldWideWeb (W3) is a wide-area\nhypermedia information retrieval\ninitiative aiming to give universal\naccess to a large universe of documents.\nEverything there is online about\nW3 is linked directly or indirectly\nto this document, including an executive\nsummary of the project, Mailing lists\n, Policy , November's  W3  news ,\nFrequently Asked Questions .\n\nWhat's out there?\n Pointers to the\nworld's online information, subjects\n, W3 servers, etc.\nHelp\n on the browser you are using\nSoftware Products\n A list of W3 project\ncomponents and their current state.\n(e.g. Line Mode ,X11 Viola ,  NeXTStep\n, Servers , Tools , Mail robot ,\nLibrary )\nTechnical\n Details of protocols, formats,\nprogram internals etc\nBibliography\n Paper documentation\non  W3 and references.\nPeople\n A list of some people involved\nin the project.\nHistory\n A summary of the history\nof the project.\nHow can I help ?\n If you would like\nto support the web..\nGetting code\n Getting the code by\nanonymous FTP , etc.\n\n\n"

In [37]:
l1=data.find_all('a')#if we want to print all hyperlinks 
l1

[<a href="WhatIs.html" name="0">
 hypermedia</a>,
 <a href="Summary.html" name="24">executive
 summary</a>,
 <a href="Administration/Mailing/Overview.html" name="29">Mailing lists</a>,
 <a href="Policy.html" name="30">Policy</a>,
 <a href="News/9211.html" name="34">W3  news</a>,
 <a href="FAQ/List.html" name="41">Frequently Asked Questions</a>,
 <a href="../DataSources/Top.html" name="44">What's out there?</a>,
 <a href="../DataSources/bySubject/Overview.html" name="45"> subjects</a>,
 <a href="../DataSources/WWW/Servers.html" name="z54">W3 servers</a>,
 <a href="Help.html" name="46">Help</a>,
 <a href="Status.html" name="13">Software Products</a>,
 <a href="LineMode/Browser.html" name="27">Line Mode</a>,
 <a href="Status.html#35" name="35">Viola</a>,
 <a href="NeXT/WorldWideWeb.html" name="26">NeXTStep</a>,
 <a href="Daemon/Overview.html" name="25">Servers</a>,
 <a href="Tools/Overview.html" name="51">Tools</a>,
 <a href="MailRobot/Overview.html" name="53"> Mail robot</a>,
 <a href="Status.html#57" name="52">
 Library</a>,
 <a href="Technical.html" name="47">Technical</a>,
 <a href="Bibliography.html" name="40">Bibliography</a>,
 <a href="People.html" name="14">People</a>,
 <a href="History.html" name="15">History</a>,
 <a href="Helping.html" name="37">How can I help</a>,
 <a href="../README.html" name="48">Getting code</a>,
 <a href="LineMode/Defaults/Distribution.html" name="49">
 anonymous FTP</a>]

In [38]:
for i in l1:#if we want to find text of each tag then i.string
    print(i.string)

hypermedia
executive
summary
Mailing lists
Policy
W3  news
Frequently Asked Questions
What's out there?
 subjects
W3 servers
Help
Software Products
Line Mode
Viola
NeXTStep
Servers
Tools
 Mail robot

Library
Technical
Bibliography
People
History
How can I help
Getting code

anonymous FTP

In [39]:
for i in l1:#it prints all the herf values,if we want to find parameter value then i.['href']
    print(i['href'])

WhatIs.html
Summary.html
Administration/Mailing/Overview.html
Policy.html
News/9211.html
FAQ/List.html
../DataSources/Top.html
../DataSources/bySubject/Overview.html
../DataSources/WWW/Servers.html
Help.html
Status.html
LineMode/Browser.html
Status.html#35
NeXT/WorldWideWeb.html
Daemon/Overview.html
Tools/Overview.html
MailRobot/Overview.html
Status.html#57
Technical.html
Bibliography.html
People.html
History.html
Helping.html
../README.html
LineMode/Defaults/Distribution.html

In [40]:
l2=data.dl.find_all("a")#fetching from particular region dl
l2

[<a href="../DataSources/Top.html" name="44">What's out there?</a>,
 <a href="../DataSources/bySubject/Overview.html" name="45"> subjects</a>,
 <a href="../DataSources/WWW/Servers.html" name="z54">W3 servers</a>,
 <a href="Help.html" name="46">Help</a>,
 <a href="Status.html" name="13">Software Products</a>,
 <a href="LineMode/Browser.html" name="27">Line Mode</a>,
 <a href="Status.html#35" name="35">Viola</a>,
 <a href="NeXT/WorldWideWeb.html" name="26">NeXTStep</a>,
 <a href="Daemon/Overview.html" name="25">Servers</a>,
 <a href="Tools/Overview.html" name="51">Tools</a>,
 <a href="MailRobot/Overview.html" name="53"> Mail robot</a>,
 <a href="Status.html#57" name="52">
 Library</a>,
 <a href="Technical.html" name="47">Technical</a>,
 <a href="Bibliography.html" name="40">Bibliography</a>,
 <a href="People.html" name="14">People</a>,
 <a href="History.html" name="15">History</a>,
 <a href="Helping.html" name="37">How can I help</a>,
 <a href="../README.html" name="48">Getting code</a>,
 <a href="LineMode/Defaults/Distribution.html" name="49">
 anonymous FTP</a>]

In [41]:
l3=data.dl.find_all("dt")#fetching from particular region dt
l3

[<dt><a href="../DataSources/Top.html" name="44">What's out there?</a>
 <dd> Pointers to the
 world's online information,<a href="../DataSources/bySubject/Overview.html" name="45"> subjects</a>
 , <a href="../DataSources/WWW/Servers.html" name="z54">W3 servers</a>, etc.
 <dt><a href="Help.html" name="46">Help</a>
 <dd> on the browser you are using
 <dt><a href="Status.html" name="13">Software Products</a>
 <dd> A list of W3 project
 components and their current state.
 (e.g. <a href="LineMode/Browser.html" name="27">Line Mode</a> ,X11 <a href="Status.html#35" name="35">Viola</a> ,  <a href="NeXT/WorldWideWeb.html" name="26">NeXTStep</a>
 , <a href="Daemon/Overview.html" name="25">Servers</a> , <a href="Tools/Overview.html" name="51">Tools</a> ,<a href="MailRobot/Overview.html" name="53"> Mail robot</a> ,<a href="Status.html#57" name="52">
 Library</a> )
 <dt><a href="Technical.html" name="47">Technical</a>
 <dd> Details of protocols, formats,
 program internals etc
 <dt><a href="Bibliography.html" name="40">Bibliography</a>
 <dd> Paper documentation
 on  W3 and references.
 <dt><a href="People.html" name="14">People</a>
 <dd> A list of some people involved
 in the project.
 <dt><a href="History.html" name="15">History</a>
 <dd> A summary of the history
 of the project.
 <dt><a href="Helping.html" name="37">How can I help</a> ?
 <dd> If you would like
 to support the web..
 <dt><a href="../README.html" name="48">Getting code</a>
 <dd> Getting the code by<a href="LineMode/Defaults/Distribution.html" name="49">
 anonymous FTP</a> , etc.
 </dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt>,
 <dt><a href="Help.html" name="46">Help</a>
 <dd> on the browser you are using
 <dt><a href="Status.html" name="13">Software Products</a>
 <dd> A list of W3 project
 components and their current state.
 (e.g. <a href="LineMode/Browser.html" name="27">Line Mode</a> ,X11 <a href="Status.html#35" name="35">Viola</a> ,  <a href="NeXT/WorldWideWeb.html" name="26">NeXTStep</a>
 , <a href="Daemon/Overview.html" name="25">Servers</a> , <a href="Tools/Overview.html" name="51">Tools</a> ,<a href="MailRobot/Overview.html" name="53"> Mail robot</a> ,<a href="Status.html#57" name="52">
 Library</a> )
 <dt><a href="Technical.html" name="47">Technical</a>
 <dd> Details of protocols, formats,
 program internals etc
 <dt><a href="Bibliography.html" name="40">Bibliography</a>
 <dd> Paper documentation
 on  W3 and references.
 <dt><a href="People.html" name="14">People</a>
 <dd> A list of some people involved
 in the project.
 <dt><a href="History.html" name="15">History</a>
 <dd> A summary of the history
 of the project.
 <dt><a href="Helping.html" name="37">How can I help</a> ?
 <dd> If you would like
 to support the web..
 <dt><a href="../README.html" name="48">Getting code</a>
 <dd> Getting the code by<a href="LineMode/Defaults/Distribution.html" name="49">
 anonymous FTP</a> , etc.
 </dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt>,
 <dt><a href="Status.html" name="13">Software Products</a>
 <dd> A list of W3 project
 components and their current state.
 (e.g. <a href="LineMode/Browser.html" name="27">Line Mode</a> ,X11 <a href="Status.html#35" name="35">Viola</a> ,  <a href="NeXT/WorldWideWeb.html" name="26">NeXTStep</a>
 , <a href="Daemon/Overview.html" name="25">Servers</a> , <a href="Tools/Overview.html" name="51">Tools</a> ,<a href="MailRobot/Overview.html" name="53"> Mail robot</a> ,<a href="Status.html#57" name="52">
 Library</a> )
 <dt><a href="Technical.html" name="47">Technical</a>
 <dd> Details of protocols, formats,
 program internals etc
 <dt><a href="Bibliography.html" name="40">Bibliography</a>
 <dd> Paper documentation
 on  W3 and references.
 <dt><a href="People.html" name="14">People</a>
 <dd> A list of some people involved
 in the project.
 <dt><a href="History.html" name="15">History</a>
 <dd> A summary of the history
 of the project.
 <dt><a href="Helping.html" name="37">How can I help</a> ?
 <dd> If you would like
 to support the web..
 <dt><a href="../README.html" name="48">Getting code</a>
 <dd> Getting the code by<a href="LineMode/Defaults/Distribution.html" name="49">
 anonymous FTP</a> , etc.
 </dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt>,
 <dt><a href="Technical.html" name="47">Technical</a>
 <dd> Details of protocols, formats,
 program internals etc
 <dt><a href="Bibliography.html" name="40">Bibliography</a>
 <dd> Paper documentation
 on  W3 and references.
 <dt><a href="People.html" name="14">People</a>
 <dd> A list of some people involved
 in the project.
 <dt><a href="History.html" name="15">History</a>
 <dd> A summary of the history
 of the project.
 <dt><a href="Helping.html" name="37">How can I help</a> ?
 <dd> If you would like
 to support the web..
 <dt><a href="../README.html" name="48">Getting code</a>
 <dd> Getting the code by<a href="LineMode/Defaults/Distribution.html" name="49">
 anonymous FTP</a> , etc.
 </dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt>,
 <dt><a href="Bibliography.html" name="40">Bibliography</a>
 <dd> Paper documentation
 on  W3 and references.
 <dt><a href="People.html" name="14">People</a>
 <dd> A list of some people involved
 in the project.
 <dt><a href="History.html" name="15">History</a>
 <dd> A summary of the history
 of the project.
 <dt><a href="Helping.html" name="37">How can I help</a> ?
 <dd> If you would like
 to support the web..
 <dt><a href="../README.html" name="48">Getting code</a>
 <dd> Getting the code by<a href="LineMode/Defaults/Distribution.html" name="49">
 anonymous FTP</a> , etc.
 </dd></dt></dd></dt></dd></dt></dd></dt></dd></dt>,
 <dt><a href="People.html" name="14">People</a>
 <dd> A list of some people involved
 in the project.
 <dt><a href="History.html" name="15">History</a>
 <dd> A summary of the history
 of the project.
 <dt><a href="Helping.html" name="37">How can I help</a> ?
 <dd> If you would like
 to support the web..
 <dt><a href="../README.html" name="48">Getting code</a>
 <dd> Getting the code by<a href="LineMode/Defaults/Distribution.html" name="49">
 anonymous FTP</a> , etc.
 </dd></dt></dd></dt></dd></dt></dd></dt>,
 <dt><a href="History.html" name="15">History</a>
 <dd> A summary of the history
 of the project.
 <dt><a href="Helping.html" name="37">How can I help</a> ?
 <dd> If you would like
 to support the web..
 <dt><a href="../README.html" name="48">Getting code</a>
 <dd> Getting the code by<a href="LineMode/Defaults/Distribution.html" name="49">
 anonymous FTP</a> , etc.
 </dd></dt></dd></dt></dd></dt>,
 <dt><a href="Helping.html" name="37">How can I help</a> ?
 <dd> If you would like
 to support the web..
 <dt><a href="../README.html" name="48">Getting code</a>
 <dd> Getting the code by<a href="LineMode/Defaults/Distribution.html" name="49">
 anonymous FTP</a> , etc.
 </dd></dt></dd></dt>,
 <dt><a href="../README.html" name="48">Getting code</a>
 <dd> Getting the code by<a href="LineMode/Defaults/Distribution.html" name="49">
 anonymous FTP</a> , etc.
 </dd></dt>]

In [33]:
for i in l3:#how to access specific portion
    print(i.a.string)

NameError: name 'l3' is not defined

In [34]:
response=requests.get('https://books.toscrape.com/catalogue/category/books_1/index.html')#we have to give request for the link

In [35]:
response#200 means we got our result

In [43]:
data=response.text

In [44]:
type(data)

str

In [45]:
data=BeautifulSoup(data,"html.parser")
data

<header>
<title>The World Wide Web project</title>
<nextid n="55"/>
</header>
<body>
<h1>World Wide Web</h1>The WorldWideWeb (W3) is a wide-area<a href="WhatIs.html" name="0">
hypermedia</a> information retrieval
initiative aiming to give universal
access to a large universe of documents.<p>
Everything there is online about
W3 is linked directly or indirectly
to this document, including an <a href="Summary.html" name="24">executive
summary</a> of the project, <a href="Administration/Mailing/Overview.html" name="29">Mailing lists</a>
, <a href="Policy.html" name="30">Policy</a> , November's  <a href="News/9211.html" name="34">W3  news</a> ,
<a href="FAQ/List.html" name="41">Frequently Asked Questions</a> .
<dl>
<dt><a href="../DataSources/Top.html" name="44">What's out there?</a>
<dd> Pointers to the
world's online information,<a href="../DataSources/bySubject/Overview.html" name="45"> subjects</a>
, <a href="../DataSources/WWW/Servers.html" name="z54">W3 servers</a>, etc.
<dt><a href="Help.html" name="46">Help</a>
<dd> on the browser you are using
<dt><a href="Status.html" name="13">Software Products</a>
<dd> A list of W3 project
components and their current state.
(e.g. <a href="LineMode/Browser.html" name="27">Line Mode</a> ,X11 <a href="Status.html#35" name="35">Viola</a> ,  <a href="NeXT/WorldWideWeb.html" name="26">NeXTStep</a>
, <a href="Daemon/Overview.html" name="25">Servers</a> , <a href="Tools/Overview.html" name="51">Tools</a> ,<a href="MailRobot/Overview.html" name="53"> Mail robot</a> ,<a href="Status.html#57" name="52">
Library</a> )
<dt><a href="Technical.html" name="47">Technical</a>
<dd> Details of protocols, formats,
program internals etc
<dt><a href="Bibliography.html" name="40">Bibliography</a>
<dd> Paper documentation
on  W3 and references.
<dt><a href="People.html" name="14">People</a>
<dd> A list of some people involved
in the project.
<dt><a href="History.html" name="15">History</a>
<dd> A summary of the history
of the project.
<dt><a href="Helping.html" name="37">How can I help</a> ?
<dd> If you would like
to support the web..
<dt><a href="../README.html" name="48">Getting code</a>
<dd> Getting the code by<a href="LineMode/Defaults/Distribution.html" name="49">
anonymous FTP</a> , etc.
</dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dd></dt></dl>
</p></body>

In [46]:
print(data.prettify())

<header>
 <title>
  The World Wide Web project
 </title>
 <nextid n="55"/>
</header>
<body>
 <h1>
  World Wide Web
 </h1>
 The WorldWideWeb (W3) is a wide-area
 <a href="WhatIs.html" name="0">
  hypermedia
 </a>
 information retrieval
initiative aiming to give universal
access to a large universe of documents.
 <p>
  Everything there is online about
W3 is linked directly or indirectly
to this document, including an
  <a href="Summary.html" name="24">
   executive
summary
  </a>
  of the project,
  <a href="Administration/Mailing/Overview.html" name="29">
   Mailing lists
  </a>
  ,
  <a href="Policy.html" name="30">
   Policy
  </a>
  , November's
  <a href="News/9211.html" name="34">
   W3  news
  </a>
  ,
  <a href="FAQ/List.html" name="41">
   Frequently Asked Questions
  </a>
  .
  <dl>
   <dt>
    <a href="../DataSources/Top.html" name="44">
     What's out there?
    </a>
    <dd>
     Pointers to the
world's online information,
     <a href="../DataSources/bySubject/Overview.html" name="45">
      subjects
     </a>
     ,
     <a href="../DataSources/WWW/Servers.html" name="z54">
      W3 servers
     </a>
     , etc.
     <dt>
      <a href="Help.html" name="46">
       Help
      </a>
      <dd>
       on the browser you are using
       <dt>
        <a href="Status.html" name="13">
         Software Products
        </a>
        <dd>
         A list of W3 project
components and their current state.
(e.g.
         <a href="LineMode/Browser.html" name="27">
          Line Mode
         </a>
         ,X11
         <a href="Status.html#35" name="35">
          Viola
         </a>
         ,
         <a href="NeXT/WorldWideWeb.html" name="26">
          NeXTStep
         </a>
         ,
         <a href="Daemon/Overview.html" name="25">
          Servers
         </a>
         ,
         <a href="Tools/Overview.html" name="51">
          Tools
         </a>
         ,
         <a href="MailRobot/Overview.html" name="53">
          Mail robot
         </a>
         ,
         <a href="Status.html#57" name="52">
          Library
         </a>
         )
         <dt>
          <a href="Technical.html" name="47">
           Technical
          </a>
          <dd>
           Details of protocols, formats,
program internals etc
           <dt>
            <a href="Bibliography.html" name="40">
             Bibliography
            </a>
            <dd>
             Paper documentation
on  W3 and references.
             <dt>
              <a href="People.html" name="14">
               People
              </a>
              <dd>
               A list of some people involved
in the project.
               <dt>
                <a href="History.html" name="15">
                 History
                </a>
                <dd>
                 A summary of the history
of the project.
                 <dt>
                  <a href="Helping.html" name="37">
                   How can I help
                  </a>
                  ?
                  <dd>
                   If you would like
to support the web..
                   <dt>
                    <a href="../README.html" name="48">
                     Getting code
                    </a>
                    <dd>
                     Getting the code by
                     <a href="LineMode/Defaults/Distribution.html" name="49">
                      anonymous FTP
                     </a>
                     , etc.
                    </dd>
                   </dt>
                  </dd>
                 </dt>
                </dd>
               </dt>
              </dd>
             </dt>
            </dd>
           </dt>
          </dd>
         </dt>
        </dd>
       </dt>
      </dd>
     </dt>
    </dd>
   </dt>
  </dl>
 </p>
</body>

In [47]:
data.title

In [48]:
data.a#first link in the webpage

<a href="WhatIs.html" name="0">
hypermedia</a>

In [49]:
data.a.string

'\nhypermedia'

In [52]:
l2=data.find(class_="product_pod")
l2

In [56]:
print(l2.h2.string)

AttributeError: 'NoneType' object has no attribute 'h2'

In [54]:
l3=l2.find(class_='price_color')
l3

AttributeError: 'NoneType' object has no attribute 'find'

In [80]:
l3.string

'Â£51.77'

In [43]:
l3.p.string

AttributeError: 'NoneType' object has no attribute 'string'

In [44]:
l4=l2.find(class_='instock availability')
l4

<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>

In [45]:
print(list(l4.stripped_strings))

['In stock']

In [ ]:
https://books.toscrape.com/catalogue/category/books_1/index.html
https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html
https://books.toscrape.com/catalogue/tipping-the-velvet_999/index.html

In [9]:
response=requests.get('https://books.toscrape.com/index.html')
data=response.text

NameError: name 'requests' is not defined

In [8]:
data=BeautifulSoup(data,'html.parser')

NameError: name 'BeautifulSoup' is not defined

In [48]:
base_url="https://books.toscrape.com/"

In [7]:
l2=data.find_all(class_='product_pod')

NameError: name 'data' is not defined

In [6]:
all_links=[]#how to access all links
for i in l2:
    all_links.append(base_url+i.a['href'])

NameError: name 'l2' is not defined

In [51]:
all_links

['https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html',
 'https://books.toscrape.com/catalogue/tipping-the-velvet_999/index.html',
 'https://books.toscrape.com/catalogue/soumission_998/index.html',
 'https://books.toscrape.com/catalogue/sharp-objects_997/index.html',
 'https://books.toscrape.com/catalogue/sapiens-a-brief-history-of-humankind_996/index.html',
 'https://books.toscrape.com/catalogue/the-requiem-red_995/index.html',
 'https://books.toscrape.com/catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html',
 'https://books.toscrape.com/catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html',
 'https://books.toscrape.com/catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html',
 'https://books.toscrape.com/catalogue/the-black-maria_991/index.html',
 'https://books.toscrape.com/catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html',
 'https://books.toscrape.com/catalogue/shakespeares-sonnets_989/index.html',
 'https://books.toscrape.com/catalogue/set-me-free_988/index.html',
 'https://books.toscrape.com/catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html',
 'https://books.toscrape.com/catalogue/rip-it-up-and-start-again_986/index.html',
 'https://books.toscrape.com/catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html',
 'https://books.toscrape.com/catalogue/olio_984/index.html',
 'https://books.toscrape.com/catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html',
 'https://books.toscrape.com/catalogue/libertarianism-for-beginners_982/index.html',
 'https://books.toscrape.com/catalogue/its-only-the-himalayas_981/index.html']

In [1]:
title=[]
price=[]
stock_vailablity=[]

In [2]:
response=requests.get('https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html')

NameError: name 'requests' is not defined

In [ ]:
data=response.text

In [55]:
data=BeautifulSoup(data,'html.parser')

In [ ]:
data

In [57]:
l1=data.find(class_='col-sm-6 product_main')
l1.h1.string

'A Light in the Attic'

In [58]:
l1.h1.string

'A Light in the Attic'

In [148]:
l2=l1.find_all('p')

In [120]:
l2
l2[0].string

'Â£51.77'

In [ ]:
list(l2[1].stripped_strings)[0]

In [57]:
for i in all_links:
    resoponse=requests.get(i)
    data=response.text
    data=BeautifulSoup(data,'html.parser')
    l1=data.find(class_='col-sm-6 product_main')
    title.append(l1.h1.string)
    l2=l1.find_all('p')
    price.append(l2[0].string)
    stock_vailablity.append(list(l2[1].stripped_strings)[0])

In [58]:
title

[]

In [59]:
price

[]

In [60]:
stock_vailablity

[]

In [12]:
def reverse_string(x):#reverse_string
    reverse_string=" "
    for i in range(len(x)):
        reverse_string=x[i]+reverse_string
    return reverse_string
name="roshini rapeti"
reverse_string(name)

'itepar inihsor '

In [1]:
l1=[1,2,3,4,5,6,7,8,9]#reverse_list
i=0
j=len(l1)-1
while i<j:
    start=l1[i]
    end=l1[j]
    l1[i]=end
    l1[j]=start
    i=i+1
    j=j-1
print(l1)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
l_sort=[1,2,3,4,5,6,7]#two pair of numbers whose sum is 9,without using two for loops and empty list
n=9
i=0
j=len(l_sort)-1
while i<j:
    if l_sort[i]+l_sort[j]==n:
        print(l_sort[i]," ",l_sort[j])
        i=i+1
        j=j-1
    elif l_sort[i]+l_sort[j]<n:
        i=i+1
    else:
        j=j-1

2   7
3   6
4   5